body {
    /* cursor: url('knife-smaller.png'), auto !important; */
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
}

.content-left{
    width: 50vw;
    height: 100vh;
    background-color: aliceblue;

}

.outer{
    height: 100vh;
    width: 50vw;
    background-color: aliceblue;
    flex-direction: column;
    display: flex;
    flex-direction: column;
}

.inner-pink{
    position: absolute; bottom: 0; right: 0;
    background-color: #ff5aac;
    height: 50vh;
    width: 50vw;
}

.inner-yellow{
    position: absolute; bottom: 0; right: 0;
    background-color: rgba(224, 231, 34, .1);
    height: 50vh;
    width: 50vw;
}

.cut{
    z-index: 100;
    height: inherit;
}

#knife {
    transform: translate(-210px, 70px); 
  }

.scream-pink{
    display: flex;
    /* can't figure out aspect ratio */
    /* max-width:800px;
    max-height:600px; */
    opacity: .5;
    width: 100%;
    height: 50vh;
  }


  .scream-yellow{
    transform: translate(5px, 5px);
    display: flex;
    opacity: .5;
    width: 100%;
    height: 50vh;
  }

  .inner-yellow:hover{
    opacity: 0;
    transition: 0.5s;
  }

.yellow{
    fill: #ffee00;
    opacity: .99;
}

.pink{
    fill:#ff00ae;
    opacity: .3;
}

.orange{
    fill:#ff0000;
    opacity: .6;
}

