body {
    background-color: aliceblue;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    cursor: crosshair;
}

.column::-webkit-scrollbar {
  display: none;
}

.column {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}



img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    }

/* #cut:hover {
color: #000000;
background-image: -webkit-radial-gradient(var(--x) var(--y),#2092B2, 
#F8CD29, #FAA9B2, #E6706C);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 2s infinite linear;
}

#slice:hover {
color: #000000;
background-image: -webkit-radial-gradient(var(--x) var(--y), #2092B2, 
#F8CD29, #FAA9B2, #E6706C);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 2s infinite linear;
} */


.scream-pink:hover {
	color: #000000;
	background-image: -webkit-radial-gradient(var(--x) var(--y), #2092B2, 
  #F8CD29, #FAA9B2, #E6706C);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 2s infinite linear;
}

.scream-yellow:hover {
	color: #000000;
	background-image: -webkit-radial-gradient(var(--x) var(--y), #2092B2, 
  #F8CD29, #FAA9B2, #E6706C);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 2s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }


.content {
    background-color: aliceblue;
    height: 100vh;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .left-column {
    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
    align-items: center;
    width: 50vw;

  }

  #knife{
    padding-top: 80px;
    padding-bottom: 60px;
  }

  #knife-2{
    padding-top: 80px;
    padding-bottom: 100px;
  }

  #triangle{
    background-color: aliceblue;  
    width: 50vw;
    height: 100vh;
    padding-top: 60px;
  }

  #triangle-2{
    background-color: aliceblue;  
    width: 50vw;
    height: 100vh;

  }

  #squiggle-right{
    width: 50vw;
    height: 100vh;
  }

  #squiggle-left{
    width: 50vw;
    height: 100vh;
  }
  
  .right-column {
    background-color: aliceblue;
    width: 50vw;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    margin: none;
  }

#cut{
  background-color: aliceblue;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  cursor: crosshair;
    height: 50vh;
    width: 50vw;
    white-space: break-spaces;
    overflow: hidden;
    text-transform: uppercase;
}  

  .scream-pink{
    width: 50vw;
    height: 50vh;
  }

  .scream-yellow{
    width: 50vw;
    height: 50vh;
  }

#slice{
  background-color: aliceblue;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  cursor: crosshair;
    height: 50vh;
    width: 50vw;
    white-space: break-spaces;
    overflow: hidden;
    text-transform: uppercase;

}

.squiggle-right, squiggle-left {
  width: 50vw; 
  height: 100vw;

}

.op-1,.op-2,.op-3,.op-4,.op-5,.op-6,.op-7,.op-8,.op-9,.op-10{
  fill:#FF3131;
}

.op-1{
  opacity: 0.1;
  animation: opacity-1 ease-in-out 4s;
  animation-iteration-count: infinite;
}

.op-2{
  opacity: 0.2;
  animation: opacity-2 ease-in-out 4s;
  animation-iteration-count: infinite;
}

.op-3{
  opacity: 0.3;
  animation: opacity-3 ease-in-out 4s;
  animation-iteration-count: infinite;
}

.op-4{
  opacity: 0.4;
  animation: opacity-4 ease-in-out 4s;
  animation-iteration-count: infinite;
}

.op-5{
  opacity: 0.5;
  animation: opacity-5 ease-in-out 4s;
  animation-iteration-count: infinite;
}

.op-6{
  opacity: .6;
  animation: opacity-6 ease-in-out 4s;
  animation-iteration-count: infinite;
}

.op-7{
  opacity: 0.7;
  animation: opacity-7 ease-in-out 4s;
  animation-iteration-count: infinite;
}

.op-8{
  opacity: 0.8;
  animation: opacity-8 ease-in-out 4s;
  animation-iteration-count: infinite;
}

.op-9{
  opacity: 0.9;
  animation: opacity-9 ease-in-out 4s;
  animation-iteration-count: infinite;
}



@keyframes opacity-1 {
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: .4;
  }
  75% {
    opacity: .4;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes opacity-2 {
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes opacity-3 {
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: .6;
  }
  75% {
    opacity: .6;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes opacity-4 {
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: .7;
  }
  75% {
    opacity: .7;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes opacity-5 {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: .8;
  }
  75% {
    opacity: .8;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes opacity-6 {
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: .9;
  }
  75% {
    opacity: .9;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes opacity-7 {
  25% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes opacity-8 {
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes opacity-9 {
  25% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

.grey{
  fill: #232323;
}

.yellow{
    fill: #ccff00;
    opacity: .99;
}

.pink{
    fill:#FF6EFF;
    opacity: .3;
}

.orange{
    fill:#FF3131;
    /* opacity: .6; */
}



@media (max-width: 800px){

  .body{
    background-color: aliceblue;
  }


.column {
  display: flex;  
  flex-direction: column;      
  width: 100vw;
  overflow: visible;   
  background-color: aliceblue;  
  overflow-x: hidden;
 
}

.row {
  display: flex;  
  flex-direction: column;      
  width: 100vw;
  overflow: visible;   
  overflow-x: hidden;
 

}

#knife{
  align-items: center;
}

.left-column {
  background-color: aliceblue;

  display: flex;  
  flex-direction: column;      
  width: 100vw;
  overflow: visible; 
  flex-wrap: wrap;  

}

.right-column {
  background-color: aliceblue;
  display: flex;  
  flex-direction: column;      
  width: 100vw;
  overflow: visible;    
  align-items: center;

}

#squiggle-right{
  background-color: transparent;
  width: 100vw; 
  height: auto;
  display: flex;
  flex-direction: column;    
}

#squiggle-left {
  background-color: transparent;
  width: 100vw; 
  height: auto;
  display: flex;
  flex-direction: column;    
}

.squiggle-2{
  background-color: aliceblue;
  width: 100vw; 
  height: auto;
  display: flex;
  flex-direction: column;    
}

#cut{
    width: 100vw;
    white-space: break-spaces;
    overflow: visible;
}  

.scream-pink {
  display: flex;  
  flex-direction: column;      
  width: 100vw;
  overflow: visible;    
}


#slice {
  background-color: aliceblue;

    width: 100vw;
    white-space: break-spaces;
    overflow: visible;
}  

.scream-yellow {
  display: flex;  
  flex-direction: column;      
  width: 100vw;
}


#triangle {
  display: flex;  
  flex-direction: column;      
  overflow: visible;  
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 100vw;
  background-color: transparent;
  justify-content: center;
  overflow-x: hidden;
}

#triangle-2 {
  display: flex;  
  flex-direction: column;      
  overflow: visible;  
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  overflow-x: hidden;
  width: 100vw;
  background-color: transparent;
  justify-content: center;
}


}



.dark{
    filter: invert(1);
  }